<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:supportsRtl="true"
        >
        <provider
            android:name="com.fsck.k9.activity.CaptureImageFileProvider"
            android:authorities="${applicationId}.activity"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/capture_image_file_provider_paths"
                />
        </provider>

    </application>

    <queries>
        <intent>
            <!-- Used to check whether to display the "Add from Contacts" menu item in the compose screen -->
            <action android:name="android.intent.action.PICK" />
            <data
                android:mimeType="*/*"
                android:scheme="content"
                android:host="com.android.contacts"
                />
        </intent>

        <intent>
            <!-- Used by ViewIntentFinder to find the best Intent to view an attachment -->
            <action android:name="android.intent.action.VIEW" />
            <data
                android:mimeType="*/*"
                android:scheme="content"
                />
        </intent>

        <intent>
            <!-- Used by the OpenPGP API -->
            <action android:name="org.openintents.openpgp.IOpenPgpService2" />
        </intent>

        <intent>
            <!-- Used by OpenPgpAppSelectDialog -->
            <action android:name="android.intent.action.VIEW" />
            <data
                android:mimeType="*/*"
                android:scheme="market"
                android:host="details"
                />
        </intent>

        <intent>
            <!-- Used by OpenPgpAppSelectDialog -->
            <action android:name="org.openintents.openpgp.IOpenPgpService" />
        </intent>
    </queries>

</manifest>
